body {
    display: flex;
    flex-direction: column;
    height: 625px;
    background-size: cover;
}

.div-time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    font-size: 60px;
    font-weight: lighter;
}

.div-search {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .search {
    width: 25%;
    position: relative;
    display: flex;
} */

.searchTerm {
    width: 25%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.div-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 2;
    margin-left: 5%;
    margin-right: 5%;
}

.a-link {
    text-decoration: none;
    margin-top: 0%;
    margin-right: 20px;
    margin-bottom: auto;
    border: 1px solid #ccc;
    border-radius: 25%;
    box-shadow: #ccc;
}

.link-image {
    height: 40px;
    width: auto;
    padding: 20px;
    padding-bottom: 0%;
}

.link-title {
    list-style-type: none;
    margin-top: 0%;
    color: white;
    text-align: center;
}